:root {
  --clr-primary1 : #495E57;
  --clr-primary2 : #f4ce14;
  --clr-secondary1: #EE9972;
  --clr-secondary2: #FBDABB;
  --clr-highlights1: #EDEFEE;
  --clr-highlights2: #333333;

  /* rounded corner style */
  --circular : 1rem;
  --rounded : 0.5rem;
}

/* Text color styles */
.clr-Primary1 {
  color: var(--clr-primary1);
}
.clr-Primary2 {
  color: var(--clr-primary2);
}
.clr-Secondary1 {
  color: var(--clr-secondary1);
}
.clr-Highlights1 {
  color: var(--clr-highlights1);
}
.clr-Highlights2 {
  color: var(--clr-highlights2);
}
/* Text font styles */
.txt-title {
  /* Title text styles*/
  font-family: Markazi Text;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txt-subtitle {
  /* Subtitle text styles */
  font-family: Markazi Text;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.txt-sectionTitle {
  /* section title style */
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.txt-cardTitle {
  /* card title style */
  font-family: Karla;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt-lead {
  /* Lead text style */
  font-family: Karla;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txt-sectionBody {
  /* section category style */
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.txt-body {
  /* body text style */
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-highlight {
  /* highlights text style */
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  overflow: hidden;
  color: var(--clr-highlights2, #495E57);
  text-overflow: ellipsis;

}

/* reset.css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* general styles */
body {
  color: var(--clr-highlights2);
  margin: 2em;
}
img {
  max-width: 100%;
  border-radius: var(--rounded);
  clip: inherit;
}

header {
  display: flex;
  align-items: center;
  margin: auto 10%;
}
.logo {
  max-height: 4rem;
  margin: auto 2rem;
}

/* button styles */
button {
  padding: .5rem 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: var(--circular,1rem);

  display: inline-flex;
  gap: 0.625rem;
}
button:hover, .cardLink:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  transition-duration: 0.4s;
}
button:active {
  background-color: var(--clr-primary1, #495E57);
  color: var(--clr-highlights1, #EDEFEE);
}
.btnPrimary {
  background-color: var(--primary2, #F4CE14);
  color: var(--clr-primary1, #495E57);
}

.btnCancel {
  background-color: var(--clr-secondary1);
  color: var(--clr-highlights2);
}
.btnSecondary {
  background-color: var(--clr-highlights1, #EDEFEE);
  color: var(--clr-highlights2, #333333);
}

.disabled {
  background-color: var(--clr-secondary2, #FBDABB);
  color: var(--clr-secondary1,#EE9972);
  cursor: not-allowed;
}

/* Navigation bar styling */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  padding: .75rem;
}
nav a {
  color: var(--clr-primary1);
}
nav a:hover {
  box-shadow: .5rem;
  color: var(--clr-primary2);
  text-decoration: underline;
}
nav ul {
  padding: .5rem;
}

.navbar {
  overflow: hidden;
  margin-left: auto;
}
.navbar li {
  display: inline-block;
}

/* indicate which page you are on*/
.active {
  color: var(--clr-secondary2);
  text-decoration: underline;
}

/* banner styles */
.bg {
  background-color: var(--clr-primary1);
}
.banner {
  margin: 1rem auto 2rem auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.banner-text {
  line-height: 2;
  padding: 2rem;
  color: var(--clr-highlights1);
}
.banner-text h2 {
  padding-bottom: 1rem;
  margin-top: -1rem;
}
.banner-text button {
  margin-top: 2rem;
}
.banner-text p {
  max-width: 20rem;
}
.banner img {
  transform: translateY(25%);
  margin-left: 4rem;
  max-height: 20rem;
}

/* Hero section styles */
.hero {
  margin: 1rem auto 4rem auto;
  display: flex;
  padding: 1rem 10rem;
  align-items: center;
  justify-content: center;
}
.hero img {
  transform: translateY(25%);
  margin-left: 4rem;
  max-height: 20rem;
}


/* Featured dishes & style cards*/
.specials {
  padding: 1rem;
  justify-content: center;

  display: grid;
  grid-template-areas:
  "card card card";
}
.specialsHeader{
  margin: 1rem 10%;
}
.specialsHeader>button {
 margin-left:auto;
}

/* Dish card styles */
.dish {
  background-color: var(--clr-highlights1);
  border-radius: var(--rounded,0.5rem) var(--rounded,0.5rem) 0rem 0rem;
  max-width: 20rem;
  margin: 1rem;
}
.dish>img {
  border-radius: var(--rounded,0.5rem) var(--rounded,0.5rem) 0rem 0rem;
}
.price {
  color: var(--clr-secondary1, #EE9972);
  text-align: right;
  margin-left: auto;
}
.cardLink {
  display: flex;
  margin-top: 1rem;
}
.cardName {
  display: flex;
  margin-top: 1rem;
}
.cardName, .dish > p {
  padding: 1rem;
}


/* About section */
.about {
  padding-bottom: 8rem;
  padding-left: 10rem;
}

.about h1{
  margin-top: 2rem;
}
.about p {
  margin-top: 1rem;
}
.lowerImg {
  position: relative;
  height: max(15rem);
  left: 8rem;
  bottom: -5rem;
}
.upperImg {
  position: relative;
  height: max(15rem);
  left: -8rem;
  bottom: 5rem;
}
.aboutImgs {
  position: absolute;
}


/* Testimonial section*/
.testimonials {
  padding: 1rem;
  margin: 1rem 10%;

  display: grid;
  grid-template-areas: 
  "head head head head"
  "card1 card2 card3 card4";
}
/* Testimonial Card */
.testimonials-title {
  grid-area: head;
  color: var(--clr-primary1);
}
.profile {
  display: flex;
  margin: 1rem;
  gap: 2rem;
  align-items: center;
}
.profile img {
  border-radius: 50%;
  max-width: 5rem;
}
.testimonialMess {
  padding: 1rem;
  max-height: 5rem;
  max-width: 20rem;
}
.ratings {
  display: flex;
  height: 1.0rem;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  flex-shrink: 1;
  padding: 2rem 1rem .5rem 1rem;
}
.star {
  flex: 1 0 0;
  align-self: stretch;

  color: var(--clr-secondary1);
  stroke-width: 2px;
  stroke: var(--clr-highlights2, #333333);
}
.testimonial-card {
  color: var(--clr-highlights2);
  background-color: var(--clr-secondary2);
  margin:.5rem;
  border-radius: 1rem;
  padding: .5rem;
}


/* Footer styles */
footer {
  align-items: center;
  justify-content: center;
  color: var(--clr-primary1, #495E57 );
  display: flex;
  margin: 1rem 10%;
}

.siteMap {
  display: flex;
  padding: 0 1rem;
}

.leftLinks {
  text-align: right;
}
.rightLinks {
  text-align: left;
}
.contacts {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.socials {
  padding: 1rem;
}
.socials {
  text-align: left;
  margin-left: auto;
}
.socialIcons {
  color: var(--clr-primary1, #495E57);
  display: inline-flex;
  align-items: center;
  gap: .75rem;

}


/* Form styles */
form {
  justify-content: center;
  margin: 1rem 15%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  text-align: right;

  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
input, select {
  background-color: var(--clr-highlights1);
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: var(--rounded);
  width: min-content;
  box-sizing: border-box;

  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  overflow:hidden;
  text-overflow: ellipsis;
}

.contactInfo {
  color: var(--clr-highlights2, #333333);
  padding: 1rem;
}
.resInfo {
  color: var(--clr-highlights2, #333333);
  background-color: var(--clr-secondary2);
  border-radius: var(--rounded);
  padding: 1rem;
}
.additInfo {
  color: var(--clr-highlights2, #333333);
  padding: 1rem;
}
.comments {
  display: flex;
  flex-direction: column;
}
.comments label {
  text-align: left;
}
textarea {
  border: solid var(--clr-primary1);
  border-radius: var(--rounded);
  max-width: 40rem;
}

/* Radio button styles */
.rdBtn {
  stroke: var(--clr-highlights2);
  stroke-opacity: 0.3;
}
.rdBtn:hover {
  stroke-opacity: 0.7;
}
.rdBtn:active {
  stroke-opacity: 0.7;
  fill: var(--clr-secondary1);
}

.rdDisabled {stroke: var(--clr-secondary1);}


/* Reservation Confirmation Page styles */
.content {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
.options {
  padding: 1rem;
  margin: 1rem;
}
.assistanceBBl {
  background-color: var(--clr-secondary1);
  border-radius: var(--rounded);
  padding: 1rem;
}
.suggestions {
  padding: 1rem;
  margin: 1rem;
}
.suggestionsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin: .5rem 1rem;
}

.thankyouImg>img {
  max-height: 40rem;
  width: 100%;
}
.bbl {
  background-color: #495e578c;
  border-radius: var(--rounded);

  padding:1rem;
}